:root{
     /* colors */
     --orange: orange;
     --orange60: rgba(249, 180, 45, 0.6);
     --orange90: rgba(249, 180, 45, 0.9);
     --black: black;
     --white: #ffffff;
     --light-white: aliceblue;
     --white0: rgba(255,255,255,0);
     --white90: rgba(255, 255, 255, 0.9);
     --grey: #bbbcbc;
     --light-grey: lightgrey;
     --ash: #EEF3F6;
}


*, ::before, ::after {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
  }
  body {
    margin: 0;
    overflow-x: hidden;
  }  
  i{
    color: var(--black);
    font-size: 1.5rem;
    user-select: none;
    cursor: pointer;
  }
  i span{
    color: var(--black);
    padding-left: 0.5rem;
  }
  .social--media{
    padding-top: 3rem;
    display: flex;
    gap: 5rem;
  }
  .social--media > i{
    color: var(--orange);
  }
  input[type="text"]:focus {
    caret-color: var(--orange);
  }
  button{
    background-color: var(--orange);
    border: none;
    border-radius: 5px;
    color: var(--light-white);
    width:150px;
    cursor: pointer;
  }
  select{
    border: none;
    background-color: var(--orange);
    color: var(--light-white);
    cursor: pointer;
    width: 140px;
    height: 60px;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--orange90);
    font-size: 1.2rem;
    z-index: 2;
  }
  .navbar nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  
  .navbar nav ul {
    padding-top: 1rem;
    gap: 3rem;
    list-style: none;    
  }
  .navbar ul li a{
    text-decoration: none;
    color: var(--black);
  }
  .bi{
    padding-right: 2rem;
  }
.main {
  background-image: url("pictures/background.jpg");
  background-size: cover;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start (left) */
  justify-content: center;
}

.main::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-image: linear-gradient(to bottom, var(--white0), var(--white));
  z-index: 1;
}
.main h1 {
  font-size: 4rem;
  max-width: 70%;
  margin: 0;
}

.main-search{
    padding-top: 10%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    
}
.input-group {
    display: flex;
    align-items: center;
    padding-top: 2rem;
  }
  
  .input-group input,
  .input-group button {
    box-sizing: border-box;
    height: 65px;
  }
  .input-group input{
    background-color: var(--white);
    border: none;
    width: 500px;
    padding-left: 20px;
  }
  .input-group input::placeholder {
    color: var(--light-grey);
  }
  .about-us {
    background-image: url("pictures/background2.png");
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 4rem;
  }
  


.about-us-text{
    max-width: 30%;
    font-size: 1.5rem;
}
.about-us h2{
    font-size: 5rem;
}
.about-us span{
    color: var(--orange);
}
.about-us button{
    padding: 1rem 2rem;
    width: 200px;
    height: 65px;
}
.order{
    background-color: var(--ash);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Carousel */

.slider {
	background-color: var(--ash);
	
	width: 100%;
	height: 100%;
}

.slide {
	text-align: center;
	background: var(--ash);
	display: none;
	
	width: 100%;
	height: 100%;
}

.active-slide {
    display: block;
}

.slider-nav {
  text-align: center;
  margin-top: 20px;
}

.arrow-prev {
  margin-right: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.arrow-next {
  margin-left: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
  user-select: none;
}

.slider-dots li {
  color: var(--orange60);
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: var(--orange);
  font-size: 33px;
}
.carousel-container{
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.carousel-container img{
    aspect-ratio: 1 / 1;
    width: 500px;
    padding-bottom: 4rem;
}
.order{
    padding: 4rem 0;
}
.order span{
    color: var(--orange);
    font-size: 1.5rem;
}
.order h2{
    font-size: 5rem;
}
.foods{
  padding-bottom: 12rem;
}
.book{
  background-color: var(--white);
  padding: 6rem 0 8rem 0;
}
.book i {
 color: var(--orange);
 border: 2px solid var(--orange);
 background-color: var(--white);
 padding: 20px;
 border-radius: 50%;
}
.book i:hover{
  color: var(--white);
  background-color: var(--orange);
}
.book .hours {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}
.left-hours{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.right-hours{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.book .call{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.book .call p{
  font-size: 1.5rem;
}
.book .call p:nth-of-type(2){
  font-size: 3rem;
  color: var(--orange);
}
.hours p:first-of-type{
  font-size: 1.5rem;
}
.hours p:nth-of-type(2){
  font-size: 2rem;
}
.book .video-container{
 display: flex;
 justify-content: center;
}
.book video{
  max-width: 60%;
}
.star{
  padding-top: 0.5rem;
  width: 18px;
}
img.round {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  aspect-ratio: 1/1;
}
.testimonials span{
display: flex;
justify-content: center;
padding-top: 4rem;
}
.testimonials blockquote{
  font-style: italic;
  max-width: 40%;
  font-size: 1.25rem;
}
.testimonials .carousel-container-reviews{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  .testimonials .testimonials-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1000px) {
  .about-us {
    background: none;
  }
  .about-us h2{
    font-size: 2rem;
  }
  .about-us-text{
    max-width: 100%;
    width: 100%;
    font-size: 1.25rem;
  }
  div.about-us-text{
    padding: 0;
  }
}
@media (max-width: 1150px) {
  .testimonials h2{
    font-size: 2rem;
  }
  .book h2{
    font-size: 2rem;
  }
  .order h2{
    font-size: 2rem;
  }
  .main .main-search h1{
    font-size: 2rem;
  }

  .main-search {
    padding-top: 5%;
    padding-left: 5%;
  }

  .input-group input {
    width: 100%;
    max-width: 300px;
    height: 40px;
  }

  .input-group button {
    width: 120px;
    height: 45px;
  }

  select {
    width: 100%;
    height: 43px;
  }
}

@media(max-width:1600px){
  .carousel-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    
  }
  .carousel-container img{
    gap: 0;
    width: 60%;
    height: 60%;
    padding-bottom: 10px;
  }
}

@media (max-width: 960px) {
  .navbar{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--white);
    font-size: 1.35rem;
  }
  .navbar nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar ul li {
    display: none;
    padding-right: 3rem;
    padding-top: 0.25rem;
  }

  .navbar ul.active {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
  .navbar ul.active li {
    display: block;
  }

  .navbar .icons {
    display: none;
  }
  .navbar nav ul{
    padding-top:  0;
  }

  .header-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    order: -1;
    padding-left: 2rem;
  }

  .hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background-color: var(--black);
  }
  .input-group {
    padding-top: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .input-group input {
    width: 60%;
    max-width: 100%;
    height: 40px;
    margin-bottom: 10px;
  }

  .input-group button {
    width: 60%;
    max-width: 100%;
    height: 40px;
  }

  .input-group select {
    width: 100%;
    max-width: 100%;
    height: 30px;
  }
  
  .social--media {
    gap: 1rem;
  }
  .navbar ul.active {
    display: flex;
  }
  div .left-hours , div .right-hours{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .main::after{
    display: none;
  }
  div.main{
    padding: 0;
  }
.book .hours{
  gap: 0;
}
}
@media (max-width: 540px) {
  .navbar{
    font-size: 1rem;
  }
  .navbar ul.active {
    flex-direction: column;
  }
  .navbar ul li {
    padding-right: 5rem;
  }
  .hours p:nth-of-type(2){
    font-size: 1rem;
  }
  .book p{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  div .left-hours, div .right-hours{
    padding: 0;
  }
}



